.building-name {
  flex: 1;
}

.button {
  position: relative;
  width: 50px;
  background: transparent;
  appearance: none;
  border: 0;
  margin: 0;
  padding: 0;
  color: inherit;
  color: #555;
}

.button:active {
  background: rgba(0, 0, 0, .03);
}

.button:disabled {
  background: rgba(0, 0, 0, .05);
  color: #999;
  cursor: not-allowed;
}

.button-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.more {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 22px;
}

.more-icon {
  width: 20px;
  fill: rgba(0, 0, 0, .3);
  pointer-events: none;
}

.current-floor {
  font-weight: 300;
  font-size: 20px;
  padding-bottom: 12px;
}

/* Desktop layout */
@media screen and (min-width: 768px) {
  .wrapper {
    position: fixed;
    left: 50%;
    bottom: 0;
    width: 100%;
    padding: var(--main-ui-padding);
    max-width: 420px;
    margin-inline: auto;
    transform: translateX(-50%);
  }
}

.wrapper {
  padding-bottom: 8px;
  transition: var(--search-transition-duration) ease-in-out opacity;
}

.floor-switcher {
  display: flex;
  background: rgba(255, 255, 255, .8);
  backdrop-filter: blur(8px);
  border-radius: 8px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  overflow: hidden;
}

.toolbar-open {
  opacity: 0;
  pointer-events: none;
}

.floor-switcher > :not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, .1);
}

.building {
  flex: 1;
  display: flex;
  align-items: center;
  letter-spacing: -.02em;
  padding: 6px;
  gap: 8px;
}
