.pin {
  width: 10px;
  height: 10px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.pin-with-icon {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.pin path {
  fill: white;
}
