.search-results:empty::before {
  content: 'No results found.';

  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;

  padding: 40px 20px;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}
