.search-not-found {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;

  padding: 40px 20px;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.search-not-found-icon {
  width: 24px;
  height: 24px;
}
