.toolbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: var(--main-ui-padding);
  padding-top: 0;
  margin-top: var(--main-ui-padding);
  transition: var(--search-transition-duration) ease-in-out transform;

  display: flex;
  flex-direction: column;
  gap: var(--toolbar-gap);
  justify-content: flex-end;
}

@media (prefers-reduced-motion) {
  .toolbar {
    transition: none;
  }
}

.toolbar-open {
  top: 0;
  bottom: unset;
  height: calc(var(--floor-switcher-height) + var(--toolbar-gap) + var(--search-box-height) + var(--main-ui-padding));
  transform: translateY(calc(-1 * (var(--floor-switcher-height) + var(--toolbar-gap))));
}

@supports (height: 100dvh) {
  .toolbar {
    bottom: unset;
    top: 0;
    transform: translateY(calc(100dvh - 100% - var(--main-ui-padding)));
  }

  .toolbar-open {
    transform: translateY(calc(-1 * (var(--floor-switcher-height) + var(--toolbar-gap))));
  }
}

/* Desktop layout */
@media screen and (min-width: 768px) {
  .toolbar {
    padding: var(--main-ui-padding);
    margin: 0;
  }

  .toolbar-open {
    transform: none;
  }
}

.search-box {
  position: relative;
  background: white;
  height: var(--search-box-height);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border: 0;
  border-radius: 8px;
  overflow: hidden;
}

.search-box-input {
  background: transparent;
  border: 0;
  font-size: 20px;
  padding: 0;
  padding-right: 12px;
  font-family: inherit;
  animation: var(--search-transition-duration) linear appear;

  /*
   * Force the search box input to be at the top of the screen.
   * This ensures that Safari on iOS will not try to scroll down when
   * it is focused and it moves top the top.
   */
  position: fixed;
  top: var(--main-ui-padding);
  left: calc(var(--main-ui-padding) + var(--search-icon-width));
  height: var(--search-box-height);
  width: calc(100% - 2 * var(--main-ui-padding) - var(--search-icon-width));
  z-index: 100;
}

@keyframes appear {
  0%, 80% { opacity: 0 }
  100% { opacity: 1 }
}

.search-box-input::-webkit-search-decoration {
  display: none;
}

.search-box-input:focus {
  outline: 0;
}

.search-icon-wrapper {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--search-icon-width);
  height: 100%;

  pointer-events: none;
  z-index: 95;
}

.search-icon {
  width: 24px;
  height: 24px;
  fill: #767575;
}

.search-close-button {
  --search-close-margin: 4px;

  position: absolute;
  top: var(--search-close-margin);
  left: var(--search-close-margin);
  width: calc(var(--search-icon-width) - 2 * var(--search-close-margin));
  border-radius: 8px;
  height: calc(var(--search-box-height) - 2 * var(--search-close-margin));
  background: white;
  border: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
  transition: var(--search-transition-duration) ease-in-out opacity;
  pointer-events: none;
  z-index: 100;
}

.search-close-button:focus-visible {
  border: 3px solid #007cff;
}

.search-close-button-visible {
  opacity: 1;
  pointer-events: all;
}

.search-close-icon {
  width: 24px;
  height: 24px;
  color: #4b5563;
}

.open-search-button {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 0;
  cursor: text;

  display: block;
  text-align: left;
  padding-left: var(--search-icon-width);
  font-size: 20px;
  font-family: inherit;
  white-space: nowrap;
  color: inherit;
  border-radius: 8px;
}

.open-search-button:focus-visible {
  border: 3px solid #007cff;
  background: #e0efff;
  padding-left: calc(var(--search-icon-width) - 3px);
}

.placeholder { color: #767575; }
.search-box-input::-webkit-input-placeholder { color: #767575; }
.search-box-input:-moz-placeholder { color: #767575; }
.search-box-input::-moz-placeholder { color: #767575; }
.search-box-input:-ms-input-placeholder { color: #767575; }

.search-modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 90;

  opacity: 0;
  pointer-events: none;
  transition: var(--search-transition-duration) ease-in-out opacity;
}

.search-modal-background-active {
  opacity: 1;
}

.search-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: var(--main-ui-padding);
  padding-top: calc(var(--main-ui-padding) + var(--search-box-height) + var(--main-ui-padding));
  padding-bottom: 0;

  z-index: 95;
  transform: translateY(100vh);
  transition: var(--search-transition-duration) ease-in-out transform;
}

@media (prefers-reduced-motion) {
  .search-modal {
    transition: none;
  }
}

.search-modal-open {
  transform: none;
}

.search-list {
  --search-background: #dedfdf;
  background: var(--search-background);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 100;
}

.search-list-scroll {
  height: 100%;
  overflow-y: auto;
}

/* Desktop layout */
@media screen and (min-width: 768px) {
  .search-list {
    --search-background: #fcfdfb;
  }

  .toolbar {
    width: var(--search-width-desktop);
    top: 0;
    bottom: auto;
    height: auto;
    transform: none;
  }

  .search-modal-background {
    display: none;
  }

  .search-modal {
    width: var(--search-width-desktop);
  }

  .search-box-input {
    width: calc(
      var(--search-width-desktop)
      - var(--search-icon-width)
      - 2 * var(--main-ui-padding)
    );
    animation: none;
  }
}
